<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hmld.core.mapper.DataPasswordMapper">
  <!-- 密码数据表 -->
  <resultMap type="com.github.hmld.core.enity.DataPasswordEnity" id="dataPasswordResult">
    <!-- 主键 -->
    <id property="passwordPk" column="password_pk"/>
    <!-- 父节点主键 -->
    <result property="parentPk" column="parent_pk"/>
    <!-- 祖籍列表 -->
    <result property="ancestors" column="ancestors"/>
    <!-- 级次 -->
    <result property="grade" column="grade"/>
    <!-- 所属用户主键 -->
    <result property="managerUserPk" column="manager_user_pk"/>
    <!-- 所属用户名称 -->
    <result property="managerNickName" column="manager_nick_name"/>
    <!-- 应用名 -->
    <result property="appName" column="app_name"/>
    <!-- 应用网站 -->
    <result property="appWebUrl" column="app_web_url"/>
    <!-- 注册用户名 -->
    <result property="accountUserName" column="account_user_name"/>
    <!-- 注册用户昵称 -->
    <result property="accountNickName" column="account_nick_name"/>
    <!-- 注册用户Email -->
    <result property="accountEmail" column="account_email"/>
    <!-- 注册用户手机号 -->
    <result property="accountPhoneNumber" column="account_phone_number"/>
    <!-- 注册密码 -->
    <result property="accountPassword" column="account_password"/>
    <!-- 盐 -->
    <result property="salt" column="salt"/>
    <!-- 密码使用状态 -->
    <result property="useFlg" column="use_flg"/>
    <!-- 删除状态 -->
    <result property="delFlg" column="del_flg"/>
    <!-- 创建人 -->
    <result property="creatBy" column="creat_by"/>
    <!-- 创建时间 -->
    <result property="creatTime" column="creat_time"/>
    <!-- 更新人 -->
    <result property="updateBy" column="update_by"/>
    <!-- 更新时间 -->
    <result property="updateTime" column="update_time"/>
  </resultMap>
</mapper>